name: CI + CD (DEV)

on:
  pull_request:
    branches:
      - developer
  push:
    branches:
      - developer
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --no-restore

    - name: Run unit tests
      run: dotnet test --no-build

    - name: Publish app
      run: dotnet publish -c Release -o publish

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: publish

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: app
        path: app

    - name: Login to Azure (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy to Azure App Service (DEV)
      uses: azure/webapps-deploy@v3
      with:
        app-name: citiesapi-dev-application
        package: app
